# FastAPI Application Settings
APP_NAME="Salary Management System"
APP_ENV=local
DEBUG=true

# Database Configuration
DATABASE_URL=sqlite:///./salary_management.db

# Security
SECRET_KEY=supersecretkeychangeinproduction
ACCESS_TOKEN_EXPIRE_MINUTES=30
